openapi: 3.1.0
info:
  title: ProtocolSoup Gateway API
  version: 1.0.0
  summary: API gateway and protocol aggregation service.
  description: |
    Public contract for the ProtocolSoup gateway service.
    The gateway aggregates protocol metadata and proxies protocol-specific traffic to upstream services.
servers:
  - url: https://protocolsoup.com
    description: Production gateway
security: []
tags:
  - name: Health
    description: Service and upstream health endpoints.
  - name: Discovery
    description: Protocol and API discovery endpoints.
  - name: LookingGlass
    description: Looking Glass orchestration and decode endpoints.
paths:
  /health:
    get:
      tags: [Health]
      summary: Get gateway health
      operationId: getGatewayHealth
      responses:
        "200":
          description: Gateway health payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayHealthResponse"
              examples:
                ok:
                  value:
                    status: ok
                    ready: true
                    last_refresh: "2026-03-06T05:40:00Z"
        "503":
          description: Gateway is not ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /health/upstreams:
    get:
      tags: [Health]
      summary: Get upstream health
      operationId: getGatewayUpstreamHealth
      responses:
        "200":
          description: At least one upstream is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamHealthResponse"
        "503":
          description: Upstreams unavailable or unconfigured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamHealthResponse"
  /api:
    get:
      tags: [Discovery]
      summary: Get API index
      operationId: getGatewayApiIndex
      responses:
        "200":
          description: API index and endpoint map.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiIndexResponse"
        "503":
          description: Gateway cannot provide index.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/protocols:
    get:
      tags: [Discovery]
      summary: List aggregated protocols
      operationId: listGatewayProtocols
      responses:
        "200":
          description: Aggregated protocol list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocolListResponse"
        "503":
          description: No upstream protocols available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/protocols/{id}:
    get:
      tags: [Discovery]
      summary: Get protocol details
      operationId: getGatewayProtocol
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Protocol ID (for example `scim`, `oidc`, `oauth2`).
      responses:
        "200":
          description: Protocol metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocolSummary"
        "404":
          description: Protocol not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/protocols/{id}/flows:
    get:
      tags: [Discovery]
      summary: List protocol flow definitions
      operationId: getGatewayProtocolFlows
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Flow definitions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowListResponse"
        "404":
          description: Protocol not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/protocols/{id}/demo/{flow}:
    post:
      tags: [LookingGlass]
      summary: Start a protocol demo session
      operationId: startGatewayDemo
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: path
          name: flow
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Session created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartDemoResponse"
              examples:
                demo:
                  value:
                    session_id: "session-abc123"
                    session_token: "JmRf8mW0gMmT_5kXc4mBAc0f7Zt5F8yQ4xVvYxjv8Eg"
                    protocol: "scim"
                    flow: "user-lifecycle"
                    ws_endpoint: "/ws/lookingglass/session-abc123"
                    scenario: null
        "404":
          description: Protocol or flow not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/lookingglass/decode:
    post:
      tags: [LookingGlass]
      summary: Decode token payload for Looking Glass
      operationId: decodeGatewayToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecodeRequest"
            examples:
              jwt:
                value:
                  token: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: Decoded token payload.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Invalid token payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/lookingglass/decode/credential:
    post:
      tags: [LookingGlass]
      summary: Decode a verifiable credential for Looking Glass inspection
      description: >-
        Decodes a pasted credential of any registered format -- including
        mso_mdoc -- into the same shared evidence shape issuance and
        verification already produce, wrapped in an assurance envelope. The
        response keeps decoded-but-unverified evidence and checked assurance
        as separate top-level objects: this endpoint supplies no issuer keys
        or trust anchors, so `assurance.issuer_trust` reads `not_evaluated`
        for every format, never a blanket validity flag. The request body is
        capped at 64 KiB, and CBOR-based formats (mso_mdoc) are decoded under
        hardened depth and collection limits because the input is
        externally-supplied and untrusted.
      operationId: decodeGatewayCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecodeCredentialRequest"
            examples:
              mso_mdoc:
                value:
                  credential: "omRkb2NUeXBldW9yZy5pc28uMTgwMTMuNS4xLm1ETA..."
      responses:
        "200":
          description: Decoded credential evidence and assurance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodeCredentialResponse"
              examples:
                mso_mdoc:
                  value:
                    evidence:
                      format: mso_mdoc
                      doctype: "org.iso.18013.5.1.mDL"
                      full_claims:
                        "org.iso.18013.5.1":
                          document_number: "D1234567"
                          driving_privileges: []
                      selective_disclosure:
                        mechanism: mso_valuedigests
                        committed_count: 11
                        committed_count_is_exact: true
                        present_count: 11
                        lifecycle_stage: issued
                        digest_algorithm: "SHA-256"
                        has_unrepresented_disclosure_forms: false
                    assurance:
                      issuer_trust: not_evaluated
                      digests_consistent_with_mso: true
        "400":
          description: Invalid, oversized, or unparseable credential.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Looking Glass is disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/lookingglass/sessions:
    get:
      tags: [LookingGlass]
      summary: List Looking Glass sessions
      description: Returns metadata only; captured events are never included in this response.
      operationId: listGatewayLookingGlassSessions
      responses:
        "200":
          description: Session list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/LookingGlassSessionSummary"
        "503":
          description: Looking Glass unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/lookingglass/sessions/{id}:
    get:
      tags: [LookingGlass]
      summary: Get Looking Glass session details
      operationId: getGatewayLookingGlassSession
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: header
          name: X-Looking-Glass-Session-Token
          required: true
          description: Owner capability returned once by the start-demo response.
          schema:
            type: string
      responses:
        "200":
          description: Session details.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Session not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid session owner capability.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /ws/lookingglass/{session}:
    get:
      tags: [LookingGlass]
      summary: Subscribe to the owner-visible Looking Glass event stream
      description: >-
        Upgrades to WebSocket. Clients must offer both
        `protocolsoup-lookingglass-v1` and
        `protocolsoup-lookingglass-owner.<session_token>` in
        `Sec-WebSocket-Protocol`; the owner capability is not accepted in the
        URL query string. The server selects `protocolsoup-lookingglass-v1`.
      operationId: subscribeGatewayLookingGlassSession
      parameters:
        - in: path
          name: session
          required: true
          schema:
            type: string
        - in: header
          name: Sec-WebSocket-Protocol
          required: true
          schema:
            type: string
          example: "protocolsoup-lookingglass-v1, protocolsoup-lookingglass-owner.JmRf8mW0gMmT_5kXc4mBAc0f7Zt5F8yQ4xVvYxjv8Eg"
      responses:
        "101":
          description: WebSocket upgrade accepted.
        "401":
          description: Missing or invalid owner subprotocol capability.
components:
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
    GatewayHealthResponse:
      type: object
      required: [status, ready]
      properties:
        status:
          type: string
          example: ok
        ready:
          type: boolean
          example: true
        last_refresh:
          type: string
          format: date-time
    UpstreamHealthResponse:
      type: object
      required: [status, ready, upstreams]
      properties:
        status:
          type: string
          enum: [ok, degraded, no_upstreams]
        ready:
          type: boolean
        upstreams:
          type: array
          items:
            $ref: "#/components/schemas/UpstreamHealth"
    UpstreamHealth:
      type: object
      required: [name, url, status, protocol_count, last_checked, health_endpoint]
      properties:
        name:
          type: string
        url:
          type: string
        status:
          type: string
          enum: [healthy, unhealthy, error]
        error:
          type: string
        protocol_count:
          type: integer
          minimum: 0
        last_checked:
          type: string
          format: date-time
        health_endpoint:
          type: string
    ApiIndexResponse:
      type: object
      required: [service, version, ready, protocols, endpoints]
      properties:
        service:
          type: string
        version:
          type: string
        ready:
          type: boolean
        protocols:
          type: array
          items:
            type: string
        endpoints:
          type: object
          additionalProperties:
            type: string
    ProtocolListResponse:
      type: object
      required: [protocols]
      properties:
        protocols:
          type: array
          items:
            $ref: "#/components/schemas/ProtocolSummary"
    ProtocolSummary:
      type: object
      required: [id, name, version, description, tags]
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
    FlowListResponse:
      type: object
      required: [flows]
      properties:
        flows:
          type: array
          items:
            type: object
            additionalProperties: true
    StartDemoResponse:
      type: object
      required: [session_id, session_token, protocol, flow, ws_endpoint]
      properties:
        session_id:
          type: string
        session_token:
          type: string
          minLength: 43
          maxLength: 43
          description: >-
            256-bit owner capability returned only when the session is created.
            Keep it confidential and use it for owner-only session APIs.
          x-sensitive: true
        protocol:
          type: string
        flow:
          type: string
        ws_endpoint:
          type: string
        scenario:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"
    LookingGlassSessionSummary:
      type: object
      required: [id, protocol_id, flow_id, state, created_at, updated_at]
      properties:
        id:
          type: string
        protocol_id:
          type: string
        flow_id:
          type: string
        state:
          type: string
          enum: [active, paused, complete]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DecodeRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
    DecodeCredentialRequest:
      type: object
      required: [credential]
      properties:
        credential:
          type: string
          description: >-
            A raw credential artifact: a compact SD-JWT VC, a JWT/JSON-LD VC,
            or a base64url-encoded ISO/IEC 18013-5 mso_mdoc IssuerSigned
            structure. The request body is capped at 64 KiB.
    DecodeCredentialResponse:
      type: object
      required: [evidence, assurance]
      description: >-
        Evidence and assurance are separate top-level objects so a client
        cannot merge "what this artifact contains" and "what has been
        checked about it" into one register by accident.
      properties:
        evidence:
          $ref: "#/components/schemas/CredentialEvidence"
        assurance:
          $ref: "#/components/schemas/CredentialAssurance"
    CredentialEvidence:
      type: object
      description: >-
        Format-agnostic view of the credential's own claims, shared verbatim
        with the evidence shape issuance and OID4VP verification produce.
        This is decoded content, not a trust statement -- see
        CredentialAssurance for what has actually been checked.
      properties:
        format:
          type: string
          example: mso_mdoc
        vct:
          type: string
          description: SD-JWT VC type (`vct` claim). Absent for other formats.
        doctype:
          type: string
          description: >-
            mdoc doctype, e.g. `org.iso.18013.5.1.mDL`, from the
            MobileSecurityObject. Absent for other formats.
        credential_types:
          type: array
          items:
            type: string
        full_claims:
          type: object
          additionalProperties: true
          description: >-
            Every claim the credential carries, namespace-nested for mdoc.
        disclosed_claims:
          type: object
          additionalProperties: true
          description: The subset of full_claims actually disclosed by this artifact.
        selective_disclosure:
          $ref: "#/components/schemas/SelectiveDisclosureSummary"
        issued_at:
          type: string
          format: date-time
          description: >-
            Present only when the source credential itself carries this
            claim (mdoc MSO validityInfo.signed; ldp_vc issuanceDate/
            validFrom); never back-filled with wall-clock time.
        expires_at:
          type: string
          format: date-time
          description: >-
            Present only when the source credential itself carries this
            claim; never back-filled.
    SelectiveDisclosureSummary:
      type: object
      description: >-
        Present only for the two formats with a selective-disclosure
        mechanism (mso_mdoc, dc+sd-jwt). Absent entirely -- not zeroed -- for
        formats that always reveal every claim (jwt_vc_json, jwt_vc_json-ld,
        ldp_vc).
      required:
        - mechanism
        - committed_count
        - committed_count_is_exact
        - present_count
        - lifecycle_stage
        - has_unrepresented_disclosure_forms
      properties:
        mechanism:
          type: string
          enum: [mso_valuedigests, sd_jwt_disclosures]
          description: Names what committed_count actually counts.
        committed_count:
          type: integer
          description: >-
            Exact element count for mso_valuedigests (ISO/IEC 18013-5 has no
            decoy-digest mechanism). An upper bound for sd_jwt_disclosures,
            since SD-JWT deliberately permits decoy digests so a verifier
            cannot infer the true claim count from the digest count alone --
            see committed_count_is_exact.
        committed_count_is_exact:
          type: boolean
          description: >-
            True only for mso_valuedigests. Always false for
            sd_jwt_disclosures, even when a specific credential happens to
            carry no decoys -- the point is that the format permits them.
        present_count:
          type: integer
          description: >-
            Element/disclosure count actually carried by this artifact. Its
            meaning depends on lifecycle_stage: at "issued" this is a
            property of the format (every element/disclosure the issuer
            sent), not a holder decision, and must not be worded as a
            disclosure ratio. Only "presented" may use "N of M disclosed"
            phrasing.
        lifecycle_stage:
          type: string
          enum: [issued, presented]
        digest_algorithm:
          type: string
          example: "SHA-256"
          description: mso.DigestAlgorithm for mdoc, or the SD-JWT _sd_alg claim.
        per_namespace:
          type: object
          description: mdoc only. Absent for SD-JWT, which has no namespace concept.
          additionalProperties:
            $ref: "#/components/schemas/NamespaceDisclosureCounts"
        has_unrepresented_disclosure_forms:
          type: boolean
          description: >-
            True when an SD-JWT structure contains a disclosure form
            committed_count's flat count does not represent -- a nested
            disclosure or an array-element redaction marker. Always false
            for mdoc. When true, present_count/committed_count must not be
            presented as a complete picture.
    NamespaceDisclosureCounts:
      type: object
      required: [committed_count, present_count]
      properties:
        committed_count:
          type: integer
        present_count:
          type: integer
    CredentialAssurance:
      type: object
      description: >-
        What has actually been checked about the artifact. Kept structurally
        separate from CredentialEvidence's decoded-but-unverified claims, and
        never collapsed to a single validity flag.
      required: [issuer_trust]
      properties:
        issuer_trust:
          type: string
          enum: [verified, failed, not_evaluated]
          description: >-
            Tri-state, computed by actually invoking issuer-signature
            validation rather than hardcoded. This endpoint supplies no
            issuer keys or trust anchors, so this reads "not_evaluated" for
            every format today -- distinct from "failed", which means a
            check ran against real trust material and did not succeed.
        issuer_trust_detail:
          type: string
        digests_consistent_with_mso:
          type: boolean
          description: >-
            mso_mdoc only; absent entirely (not false) for every other
            format. True means each presented IssuerSignedItem's digest
            matches the credential's own MSO valueDigests -- internal
            self-consistency between the items and the MSO, NOT authenticity
            of the MSO itself. An unauthenticated MSO with matching digests
            is trivially forgeable. Must never be read or labelled as
            "verified" or "ok".
        digest_consistency_detail:
          type: string
